@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}
ul,ol{
margin:0;
padding:0;
list-style: none
}
a, a:hover { text-decoration: none;
}


.homepage-slider {
  background-image: url(../img/slider.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-color: #000;
  position: relative;
  z-index: 1;
}


.logo a {
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
  color: #fff;
}
.menu li {
  display: inline-block;
}
.menu li a {
  font-weight: 700;
  text-transform: uppercase;
  padding: 4px 30px;
  color: #fff;
  opacity: .8;
  display: inline-block;
  transition: all .3s linear;
}
.menu li a:hover {
  opacity: 1;
}
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
  padding: 30px 0;
}

.slider-content {
  padding-top: 130px;
}
.slider-content h5 span {
  font-weight: normal;
  text-transform: none;
  font-size: 80%;
  margin-top: ;
}
.slider-content h5 {
  margin-top: 50px;
  margin-bottom: 32px;
}
.slider-content h1 {
  margin-bottom: 29px;
}
.homepage-slider::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: black;
  z-index: -1;
  opacity: .8;
}

.email-subs input {
  width: 57%;
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-right: 10px;
}
.email-subs input[type="submit"] {
  width: 38%;
  background: red;
  color: #fff;
  border:none;
  padding:16px;
  cursor:pointer;
  z-index: 1;
}
